body{
    background: rgb(238, 144, 207);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#form-tarefa{
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#list-tarefa{
    list-style: none;
}

#list-tarefa li{
    font-size: 1rem;
}

main{
    border: 1px solid black;
    border-radius: 1rem;
    padding-left: 3rem;
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
}